@model Usuario

<h1>ALERTA!</h1>
<h2>Tem certeza que deseja excluir o usuário @Model.NomeUsuario (@Model.login)?</h2>
<p>A exclusão é irreversível</p>

<form action="ExcluirUsuario" method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    <input type="submit" name="decisao" value="CANCELAR" />
    <input type="submit" name="decisao" value="EXCLUIR" />

</form>